@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* General reset y estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F3F5F9;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo {
  height: 50px;
}

nav {
  display: flex;
  gap: 2rem;  
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: light;
}

.download-btn {
  background-color: #44348E;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 200px;
}

.download-btn:hover {
  background-color: white;
  color: #44348E;
  border: 2px solid #44348E;
}

/* Responsive */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    width: 100%;
  }

  .download-btn {
    align-self: flex-start;
  }
}
